body{
    margin: 0;
    padding: 0;
    width: 100%;
}
p{
    color: #7510F7;
}
hr{
    color: #7510F7;
}
.navbar_email{
    padding-top: 30px;
    padding-left: 90%;
    padding-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #7510F7;
}
.navbar_email button{
    background-color: white;
    text-align: center;
    border: 2px solid #7510F7;
    border-radius: 10px;
    padding: 3px 35px;
    color: rgba(0, 0, 0, 0.63);
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.6s;
}
.navbar_email button:hover{
    background-color: #7510F7; 
    color: white;
}
.avatar{
    padding-left: 50%;
    padding-top: 2%;
}
.main_block_description{
    padding-top: 60px;
    padding-left: 10rem;
    font-size: 40px;
    font-style: oblique;
}
.form_items p{
    font-size: 18px;
}
.input_items{
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}
.input_items input{
    width: 23rem;
    border-radius: 10px;
    border: 1px solid  #7510F7;
}
.inputems_2{
    display: block;
    justify-content: space-around;
    padding-left: 30rem;
    height: 40vh;
}
.inputems_2 textarea{
    border-radius: 10px;
    border: 1px solid #7510F7;
}
.inputems_2 .reset_button{
    background-color: white;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    padding: 3px 35px;
    color: rgba(0, 0, 0, 0.63);
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.6s;
}
.inputems_2 .reset_button:hover{
    background-color: red; 
    color: white;
}
.inputems_2 .submit_button{
    background-color: white;
    text-align: center;
    border: 2px solid #7510F7;
    border-radius: 10px;
    padding: 3px 35px;
    color: rgba(0, 0, 0, 0.63);
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.submit_button:hover{
    background-color: #7510F7; 
    color: white;
}